<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>

<body class="overflow-y-auto">
    <div class="bg-gradient-to-b from-gray-500 to-site-black w-screen h-screen flex flex-col items-center justify-center">
        <div class=" flex flex-col w-4/5 h-screen">
            <nav class="bg-white w-full h-28 flex phone:max-md:hidden rounded-full mt-5 border-2 border-black">
                <div class=" w-full h-28 bg-red flex flex-row items-center justify-end ">
                    <button class="bg-red-300  p-4 m-2 rounded-lg"> Inicio</button>
                    <button class="bg-red-300 p-4 m-2 rounded-lg"> Sobre Nós</button>
                    <button class="bg-red-300 p-4 m-2 rounded-lg"> Empresa</button>
                </div>
            </nav>
            <section class="bg-black w-full h-full flex flex-col">

            </section>
            <footer class="bg-white w-full h-96 flex">

            </footer>
        </div>



    </div>
</body>

</html>