{% extends "template_base1.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novos Posts</title>
</head>
<body>
    {% block content %}
    <main class="p-6 sm:p-10 space-y-6">
        <div class="flex flex-col">
            <form method="POST" action="/staffer/upload_portfolio" enctype="multipart/form-data" class="border space-y-2">
                <div>
                    <label for="capa">imagem:</label>
                    <input type="file" name="portfolio" required>
                </div>
                <!--<div>
                    <label for="titulo">Titulo:</label>
                    <input type="text" name="titulo" class="border rounded-sm my-1" required>
                </div>-->

                
                <button type="submit" class="inline-flex px-5 py-3 text-white bg-laranja-construart hover:text-white focus:bg-site-black hover:bg-site-black focus:bg-site-black border border-white-600 rounded-md mb-3">
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 h-5 w-5 -ml-1 mt-0.5 mr-2">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                    Cadastrar Parceiro
                  </button>
                </a>
                </div>
            </form>
        </div>
    </main>
    
    {% endblock %}
</body>
</html>
